       
body{
          background-color: #a6a6a6;
        background: url('/img/audience.jpg');
}

html {
            font-size: 15px;
            background-color: rgb(110, 36, 115);
/*             background: url('/img/audience.jpg'); */
            background-size: contain;
        }
        
        body.html {
            margin: 0;
            padding: 0;
              
        }
        
        h1 {
            position: sticky;
            top: 0;
            margin-top: 0;
            display: flex;
            color: rgb(255, 255, 255);
            text-shadow: .2rem 0 0rem rgb(60, 0, 255);
            align-items: center;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .keys {
            display: flex;
            flex: 1;
            min-height: 100vh;
            align-items: center;
            justify-content: center;
        }
        
        .key {
            border: .4rem solid rgb(255, 255, 255);
            border-radius: 2rem;
            box-shadow: .31rem .3rem 1rem .5rem rgb(209, 73, 73);
            margin: 1rem;
            font-size: 1.5rem;
            padding: 1rem .5rem;
            transition: all .08s ease;
            width: 10rem;
            text-align: center;
            background: rgba(0, 0, 0, 0, 4);
            text-shadow: 0 0 .5rem;
            background-color: rgb(90, 69, 196);
        }
        
        .playing {
            color: rgb(40, 20, 20);
            transform: scale(1.1);
            border-color: #ff0000;
            box-shadow: 0 0 1rem #ff0000;
        }
        
        kbd {
            display: block;
            font-size: 4rem;
        }
        
        .sound {
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
            color: #ff0000;
        }
        
        footer {
            display: flex;
            justify-content: center;
            color: yellow;
        }
